#wrapper {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    text-align: left;
    margin: 25px auto;
    box-shadow: 0px 0px 5px rgb(153, 153, 153);
    width: 960px;
    padding: 15px;
}

body {
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    font-family: Arial,Sans-serif;
    font-size: 105%;
}

#leftcolumn {
    width: 600px;
    float: left;
    min-height: 400px;
}

#rightcolumn {
    width: 330px;
    float: right;
    color: rgb(51, 51, 51);
    display: inline;
    position: relative;
}

#content {
    width: 940px;
    min-height: 420px;
    margin: 0px auto;
}

#usercode{
    width: 90%;
    min-height: 350px;
    margin: 0px auto;
    
}

#fontforlist{
    font-size:80%;
    margin:0 0 0 5px;
    padding:0 0 0 5px;
}

#titles{
    width:200px;
    float:left;
    text-align:left;
    margin:0px;
    padding:0px;
}

#code{
    font-size:80%;
    clear: both;
    border-top: 1px solid black;
    padding: 15px;
    margin-top: 30px;
}

#footer {
    clear: both;
    border-top: 1px solid black;
    padding: 15px;
    margin-top: 30px;
}